<!DOCTYPE html>
<html>
  <head>
    <title>TraceMyPace</title>
  
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&family=Open+Sans:wght@300;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@900&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.credentials.google[:api_key]}&libraries=geometry,directions,places,visualization,drawing  "%>
    
    <script src="https://kit.fontawesome.com/d344ed52f8.js" crossorigin="anonymous"></script>     
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <meta property='og:title' content="TraceMyPace"/>
    <meta property='og:image' content="<%= image_url('tmpsplash.jpg') %>"/>
    <meta property='og:description' content="A clone of the popular running App MapMyRun built using JavaScript, Ruby on Rails, React/Redux, and PostgreSQL"/>
    <meta property='og:url' content="https://tracemypace.herokuapp.com/#/" />

    <script type="text/javascript">
      window.logoURL = "<%= image_url('logo.png') %>";
      window.logoBlack = "<%= image_url('logoBlack.png') %>";
      window.avatarURL = "<%= image_url('avatar.jpg') %>";
      window.logoBigURL = "<%= image_url('logoBig.png') %>";
      window.UAHoverapp = "<%= image_url('UAHoverapp2.png') %>";
      window.downArrow = "<%= image_url('downArrow.png') %>";
      window.avatar = "<%= image_url('avatar.jpg') %>";
      window.iphoneURL = "<%= image_url('iphone2.png') %>";
      window.UAfullLogoURL = "<%= image_url('UAfullLogo.png') %>";
      window.UArecordURL = "<%= image_url('UARecord.png') %>";
      window.UAgreenURL = "<%= image_url('UAgreenlogo.png') %>";
      window.UAfitnessURL = "<%= image_url('UAfitnessLogo.png') %>";
      window.UAmmfURL = "<%= image_url('UAmmfLogo3.png') %>";
      window.phone1 = "<%= image_url('manjoggingiphone.png') %>";
      window.phone2 = "<%= image_url('manjumpingiphone.png') %>";
      window.phone3 = "<%= image_url('workmaniphone.png') %>";
      window.social = "<%= image_url('socialpicture.jpg') %>";
      window.challenge = "<%= image_url('challengepic.png') %>";
      window.googleAPIKey = "<%= Rails.application.credentials.google[:api_key] %>";
    </script>
    



  </head>

  <body>
    <%= yield %>
  </body>
</html>
